*{
    margin:0%;
    padding: 0%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
body{
    background-color:#080808;
    color:#fff ;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/myimage.jpg);
    background-size: cover;
    background-position: center;
}
h3{
    text-align: start;
}
.d{
 color:darkred;
}
.r{
    color: darkred;
}
.h{
    color: darkred;
}

p{
    font-size:50px;
    text-align:left;
}
pre{
    font-size:20px;
    margin-right: 0%;
}
h2{
    text-align:left;
}
.a{
    color: darkred;
}
.m{ 
    color: darkred;
}
div{
    text-align: center;
}
.s{
    color: darkred;
}
ul{
    text-align: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 15px 30px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 100%;
    height: 3px;
    background: darkred;
    position:absolute ;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;

}