
body{
    background-color:peru;
}
.d{
 color:darkred;
}
.r{
    color: darkred;
}
.h{
    color: darkred;
}

p{
    font-size:60px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
pre{
    font-size:20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 0%;
}
h2{
    text-align: center;
}
.a{
    color: darkred;
}
.m{ 
    color: darkred;
}
.image{
    display:block;
    margin: auto;
}
div{
    text-align: center;
}
.s{
    color: darkred;
}
ul{
    text-align: center;
}